In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import plotly.express as px
#!pip install openpyxl

In [4]:
df = pd.read_excel("financial_loan.xlsx")
df.head()

,id,address_state,application_type,emp_length,emp_title,grade,home_ownership,issue_date,last_credit_pull_date,last_payment_date,...,sub_grade,term,verification_status,annual_income,dti,installment,int_rate,loan_amount,total_acc,total_payment
0,1077430,GA,INDIVIDUAL,< 1 year,Ryder,C,RENT,2021-02-11,2021-09-13,2021-04-13,...,C4,60 months,Source Verified,30000.0,0.0100,59.83,0.1527,2500,4,1009
1,1072053,CA,INDIVIDUAL,9 years,MKC Accounting,E,RENT,2021-01-01,2021-12-14,2021-01-15,...,E1,36 months,Source Verified,48000.0,0.0535,109.43,0.1864,3000,4,3939
2,1069243,CA,INDIVIDUAL,4 years,Chemat Technology Inc,C,RENT,2021-01-05,2021-12-12,2021-01-09,...,C5,36 months,Not Verified,50000.0,0.2088,421.65,0.1596,12000,11,3522
3,1041756,TX,INDIVIDUAL,< 1 year,barnes distribution,B,MORTGAGE,2021-02-25,2021-12-12,2021-03-12,...,B2,60 months,Source Verified,42000.0,0.0540,97.06,0.1065,4500,9,4911
4,1068350,IL,INDIVIDUAL,10+ years,J&J Steel Inc,A,MORTGAGE,2021-01-01,2021-12-14,2021-01-15,...,A1,36 months,Verified,83000.0,0.0231,106.53,0.0603,3500,28,3835

## metadata of the dataset

In [5]:
print("number of rows:", df.shape[0])
print("number of columns:", df.shape[1])
df.info()

number of rows: 38576
number of columns: 24
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38576 entries, 0 to 38575
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     38576 non-null  int64
 1   address_state          38576 non-null  object
 2   application_type       38576 non-null  object
 3   emp_length             38576 non-null  object
 4   emp_title              37138 non-null  object
 5   grade                  38576 non-null  object
 6   home_ownership         38576 non-null  object
 7   issue_date             38576 non-null  datetime64[ns]
 8   last_credit_pull_date  38576 non-null  datetime64[ns]
 9   last_payment_date      38576 non-null  datetime64[ns]
 10  loan_status            38576 non-null  object
 11  next_payment_date      38576 non-null  datetime64[ns]
 12  member_id              38576 non-null  int64
 13  purpose                38576 non-null  object
 14  sub_grade              38576 non-null  object
 15  term                   38576 non-null  object
 16  verification_status    38576 non-null  object
 17  annual_income          38576 non-null  float64
 18  dti                    38576 non-null  float64
 19  installment            38576 non-null  float64
 20  int_rate               38576 non-null  float64
 21  loan_amount            38576 non-null  int64
 22  total_acc              38576 non-null  int64
 23  total_payment          38576 non-null  int64
dtypes: datetime64[ns](4), float64(4), int64(5), object(11)
memory usage: 7.1+ MB

In [20]:
print("data types:")
df.dtypes

data types:

id                                int64
address_state                    object
application_type                 object
emp_length                       object
emp_title                        object
grade                            object
home_ownership                   object
issue_date               datetime64[ns]
last_credit_pull_date    datetime64[ns]
last_payment_date        datetime64[ns]
loan_status                      object
next_payment_date        datetime64[ns]
member_id                         int64
purpose                          object
sub_grade                        object
term                             object
verification_status              object
annual_income                   float64
dti                             float64
installment                     float64
int_rate                        float64
loan_amount                       int64
total_acc                         int64
total_payment                     int64
dtype: object

In [22]:
print("aggregational summary of the dataset")
df.describe

aggregational summary of the dataset

<bound method NDFrame.describe of             id address_state application_type emp_length  \
0      1077430            GA       INDIVIDUAL   < 1 year
1      1072053            CA       INDIVIDUAL    9 years
2      1069243            CA       INDIVIDUAL    4 years
3      1041756            TX       INDIVIDUAL   < 1 year
4      1068350            IL       INDIVIDUAL  10+ years
...        ...           ...              ...        ...
38571   803452            NJ       INDIVIDUAL   < 1 year
38572   970377            NY       INDIVIDUAL    8 years
38573   875376            CA       INDIVIDUAL    5 years
38574   972997            NY       INDIVIDUAL    5 years
38575   682952            NY       INDIVIDUAL    4 years

                             emp_title grade home_ownership issue_date  \
0                                Ryder     C           RENT 2021-02-11
1                       MKC Accounting     E           RENT 2021-01-01
2                Chemat Technology Inc     C           RENT 2021-01-05
3                  barnes distribution     B       MORTGAGE 2021-02-25
4                        J&J Steel Inc     A       MORTGAGE 2021-01-01
...                                ...   ...            ...        ...
38571         Joseph M Sanzari Company     C       MORTGAGE 2021-07-11
38572                        Swat Fame     C           RENT 2021-10-11
38573  Anaheim Regional Medical Center     D           RENT 2021-09-11
38574               Brooklyn Radiology     D           RENT 2021-10-11
38575                    Allen Edmonds     F           RENT 2021-07-11

      last_credit_pull_date last_payment_date  ... sub_grade        term  \
0                2021-09-13        2021-04-13  ...        C4   60 months
1                2021-12-14        2021-01-15  ...        E1   36 months
2                2021-12-12        2021-01-09  ...        C5   36 months
3                2021-12-12        2021-03-12  ...        B2   60 months
4                2021-12-14        2021-01-15  ...        A1   36 months
...                     ...               ...  ...       ...         ...
38571            2021-05-16        2021-05-16  ...        C1   60 months
38572            2021-04-16        2021-05-16  ...        C1   60 months
38573            2021-05-16        2021-05-16  ...        D5   60 months
38574            2021-05-16        2021-05-16  ...        D5   60 months
38575            2021-05-16        2021-05-16  ...        F3   60 months

       verification_status annual_income     dti installment int_rate  \
0          Source Verified       30000.0  0.0100       59.83   0.1527
1          Source Verified       48000.0  0.0535      109.43   0.1864
2             Not Verified       50000.0  0.2088      421.65   0.1596
3          Source Verified       42000.0  0.0540       97.06   0.1065
4                 Verified       83000.0  0.0231      106.53   0.0603
...                    ...           ...     ...         ...      ...
38571             Verified      100000.0  0.1986      551.64   0.1299
38572             Verified       50000.0  0.0458      579.72   0.1349
38573             Verified       65000.0  0.1734      627.93   0.1749
38574             Verified      368000.0  0.0009      612.72   0.1825
38575             Verified       80000.0  0.0600      486.86   0.2099

       loan_amount  total_acc  total_payment
0             2500          4           1009
1             3000          4           3939
2            12000         11           3522
3             4500          9           4911
4             3500         28           3835
...            ...        ...            ...
38571        24250         33          31946
38572        25200         18          31870
38573        25000         20          35721
38574        24000          9          33677
38575        18000          7          27679

[38576 rows x 24 columns]>

## total loan applications

In [24]:
total_loan_applications = df['id'].count()
print("total loan applications:", total_loan_applications)

total loan applications: 38576

## month-to-date total loan applications

In [30]:
#mtd means- the number of loan applications in the current month.
#since we are dealing with historical data, we will consider the last month to be the current month data.
latest_issue_date = df['issue_date'].max()
latest_year=latest_issue_date.year
latest_month=latest_issue_date.month

mtd_data = df[(df['issue_date'].dt.year == latest_year) & (df['issue_date'].dt.month == latest_month)]

mtd_loan_applications=mtd_data['id'].count()
print(f"MTD loan applications (for {latest_issue_date.strftime('%B %Y')}): {mtd_loan_applications}")

MTD loan applications (for December 2021): 4314

## total funded amount

In [36]:
total_funded_amount = df['loan_amount'].sum()
print("total_funded_amount: ", total_funded_amount)
m=total_funded_amount/1000000
print("in millions: ${:.2f}M". format(m))

total_funded_amount:  435757075
in millions: $435.76M

## month-to-date total funded amount

In [7]:
latest_issue_date = df['issue_date'].max()
latest_year=latest_issue_date.year
latest_month=latest_issue_date.month

mtd_data = df[(df['issue_date'].dt.year == latest_year) & (df['issue_date'].dt.month == latest_month)]
tot_amt= mtd_data['loan_amount'].sum()
m=tot_amt/1000000
print("month to date total funded amount in millions is ${:.2f}M".format(m))

month to date total funded amount in millions is $53.98M